* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
  font-family: 'zen-new', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* grayscale for white on blue */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-bleed-background {
  background: url(images/desktopbg@2x.png) right top no-repeat #274e9b;
  background-size: cover;
  color: #ffffff;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.legalese {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 30px;
}

.legalese a {
  color: #fff;
}